* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 2px 2px 2px;
  background-color: white;
  padding: 10px;

  h1 {
    text-align: center;
    font-size: 40px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 23px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#input {
  width: 150px;
  height: 35px;
  font-size: 20px;
}

#input {
  outline-color: red;
}

#textarea {
  font-size: 20px;
  padding: 0;
  outline-color: red;
  
}

.button {
  padding: 20px;
}

#convert {
  height: 50px;
  width: 100px;
  border-radius: 30px;
  font-size: 18px;
  background-color: rgb(173, 173, 23);
  border: none;
  color: white;
}

#reset {
  height: 50px;
  width: 100px;
  border-radius: 30px;
  font-size: 18px;
  background-color: red;
  border: none;
  color: white;
}

#convert:hover {
  background-color: green;
  border: 1px solid black;
}

#reset:hover {
  background-color: gray;
  border: 1px solid black;
}
